p {
  margin: 0;
  text-indent: 1.2em;
}

ul, ol {
  margin: 0;
}

.smallskip { margin-bottom: 1ex; }
.medskip { margin-bottom: 2ex; }
.bigskip { margin-bottom: 3ex; }

.noindent,
.center p,
.flushleft p,
.flushright p,
.footnotes p {
  text-indent: 0;
}

.page-after { page-break-after: always; }
.page-after-avoid { page-break-after: avoid; }
.page-same { page-break-inside: avoid; }

.nospace-before { margin-top: 0; }
.nospace-after { margin-bottom: 0; }

.center { text-align: center; }
.flushleft { text-align: left; }
.flushright { text-align: right; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.sansserif { font-family: sans-serif; }
.script { font-family: cursive; }
.smallcaps { font-variant: small-caps; }
.typewriter { font-family: monospace; }
.sizep1 { font-size: large; }
.sizep2 { font-size: x-large; }
.sizep3 { font-size: xx-large; }
.sizep4 { font-size: 300%; }

.separator {
  text-align: center;
  margin: 2ex 0 1ex 0;
}
